body {
  text-align: justify;
  color: #26577C;
  background-color: #FDFAF6;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  overflow-x: hidden;

}

section {
  padding: 70px 0 70px 0;

}

h1 {
  /* font-family: 'Big Shoulders Stencil Display', cursive; */
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
}

p {
  font-size: 1.2rem;
}

/* form {
  text-align: left;
} */

.my-bg-dark {
  background-color: #26577C;
}

.my-bg-light {
  background-color: #FDFAF6;
}

.bg-white {
  background-color: white;
}

.txt-dark {
  color: #26577C;
}

.txt-light {
  color: #FDFAF6;
}

.txt-accent {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  color: #ED7D31;
  font-weight: bold;
}

.my-indent-one {
  margin-left: 25px;
}

.list-dot {
 height: 10px;
 width: 10px;
 background-color: #ED7D31;
 border-radius: 50%;
 display: inline-block;
 margin-right: 7px;
}

/* --------------------- Animations -------------------------*/

.hidden-trigger-one {
  position: fixed;
  width: 5px;
  height: 5px;
  left: 0;
  bottom: calc(100vh + 20px);
  bottom: -moz-calc(100vh + 20px);
  bottom: -webkit-calc(100vh + 20px);
  bottom: -o-calc(100vh + 20px);
  z-index: 11;
  opacity: 0;
}

.anim-land {
  /* font-size: 3rem;
  color: red;
  width: 300px; */
  opacity: 0;
  transform: translateX(40%);
  transition: all 0.7s ease-out;
}

.active-land {
  /* color: blue; */
  opacity: 1;
  transform: translateX(0);
}

.anim-land-mob {
  /* font-size: 3rem;
  color: red;
  width: 300px; */
  opacity: 0;
  transform: translateX(40%);
  transition: all 0.7s ease-out;
}

.active-land-mob {
  /* color: blue; */
  opacity: 1;
  transform: translateX(0);
}

.anim-one {
  /* font-size: 3rem;
  color: red; */
  width: 100%;
  opacity: 0;
  transform: translateY(60%);
  transition: all 0.7s ease-out;
}

.active-one {
  opacity: 1;
  transform: translateY(0);
}

.anim-two {
  /* font-size: 3rem;
  color: red;
  width: 300px; */
  opacity: 0;
  transform: translateX(50%);
  transition: all 0.7s ease-out;
}

.active-two {
  /* color: blue; */
  opacity: 1;
  transform: translateX(0);
}

.anim-three {
  /* font-size: 3rem;
  color: red; */
  width: 100%;
  opacity: 0;
  transform: translateY(150%);
  transition: all 0.6s ease-out;
}

.active-three {
  opacity: 1;
  transform: translateY(0);
}
/* ----------------------------------------------------------*/

.my-heading-one {
  font-size: 2rem;
  font-weight: bold;
}

.my-para-control {
  width: 90%;
  margin: auto;
}

.my-width-control {
  width: 1500px;
  padding-left: 2%;
  padding-right: 2%;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;

}

.extra-section-control {
  padding: 0 7% 0 7%;
}

.focus-text-box {
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
}

.p-small-heading {
  /* color: #F3F1E6; */
  letter-spacing: 2px;
  font-weight: bold;
}

.p-big-italic-heading {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 2.8rem;
  letter-spacing: -1px;
}

.my-bold {
  font-weight: bold;
}

.my-ital {
  font-style: italic;
}

/* section {
  width: 100%;
} */
.banner {
  text-align: center;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  padding: 0 0 20px 0;
  z-index: 4;
}

.wand-sticky-top-bar {
  position: relative;
  /* text-align: left; */
  width: 100%;
  height: 110px;
  /* background-image: linear-gradient(to top, rgba(71, 130, 166, 0.8), rgba(71, 130, 166, 0.8)); */
  background-image: linear-gradient(to top, rgba(253, 250, 246, 0.9), rgba(253, 250, 246, 0.9));
  /* background-color: #1f4468;
  opacity: 0.6; */
  transition: all 0.5s ease-out;
}

.top-bar-anim {
  height: 60px;
  background-image: linear-gradient(to top, rgba(253, 250, 246, 1), rgba(253, 250, 246, 1));
}

.title-div {
  position: absolute;
  display: inline-block;
  /* width: 600px; */
  width: 100%;
  color: #FDFAF6;
  /* background-color: #1f4468; */
  /* border-color: white;
  border-style: solid;
  border-width: 2px; */
  left: 0;
  /* margin: 20px 0 0 0; */
  /* padding: 0 0 0 0; */
  /* z-index: 5; */
  opacity: initial;
}

/* .title-h1 {
  font-size: 1.4rem;
} */

.logo-img-landing {
  /* margin-top: 15px; */
  transform: translateY(80%);
  transition: all 0.5s ease-out;
}

.logo-anim {
  transform: scale(0.7,0.7) translateY(40%);
}

/* .align-btn-right {
  position: absolute;
  display: inline-block;
  text-align: right;
  width: 300px  ;
  right: 40px;
  margin-top: 18px;
}

.register-btn {
  width: 260px;
  font-weight: 600;
  background-color: transparent;
  border-color: #F3F1E6;
  border-style: solid;
  border-width: 2px;
  color: #F3F1E6;
  letter-spacing: 3px;
  margin: 0 2% 0 0;
  padding: 0.5% 1% 0.5% 1%;
} */

/* .landing-page-section {
  width: 100%;
  height: 630px;
  background-image: url("images/asb-landing-img-main-1400px.jpg");
  background-position: center top;
  background-size: 100% auto;
  margin-top: -130px;
  padding: 0;
  overflow: hidden;
} */

.main-landing {
  position: relative;
  width: 100%;
  height: 630px;
  background-image: url("images/asb-landing-img-main-1400px.jpg");
  background-position: center top;
  background-size: 100% auto;
  padding: 0;
  margin-top: -130px;
  overflow: hidden;
}

.landing-intro-box {
  position: absolute;
  width: 50%;
  /* height: 200px; */
  background-color: white;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 40px 100px 40px 60px;
}


/* .intro-text-section {
  background-color: #F3F1E6;
  text-align: center;
  color: #4782A6;
} */

/* .p1-intro {
  font-family: 'Zen Tokyo Zoo', cursive;
  color: #4782A6;
  font-size: 3rem;
  letter-spacing: 2px;
}

.p1-intro-hlight {
  font-family: 'Zen Tokyo Zoo', cursive;
  color: #4782A6;
  font-size: 2.4rem;
  letter-spacing: 2px;
}

.p2-intro {
  color: #4782A6;
  letter-spacing: 2px;
  font-weight: bold;
}

.p3-intro {
  color: #4782A6;
  letter-spacing: 2px;
  font-weight: bold;
} */

/* .development-image-section {
  color: #F3F1E6;
  background-image: url("images/mul-water-bg-img-3.png");
  background-position: center top;
  background-size: 100% 100%;
  padding-top: 90px;
}

#mob-welc-img {
  display: none;
}

#mob-loc-img {
  display: none;
} */
/* .welc-text-container {
  text-align: left;
  width: 90%;
  padding: 12% 0 3% 0;
  margin: auto;
} */

/* .welc-text-container {
  text-align: left;
  width: 90%;
  padding-top: 35px;
  margin: auto;
}

.welc-img-container {
  width: 90%;
  height: 400px;
  background-image: url("images/mul-welcome-img.jpg");
  background-position: left bottom;
  background-size: 622px 400px;
  overflow: hidden;
  background-repeat: no-repeat;
  margin: auto;
} */
/* .welc-img-container {
  width: 90%;
  padding: 12% 0 3% 0;
  margin: auto;
} */

/* .welc-img {
  width: 100%;
}

.highlight-details-section {
  color: #4782A6;
  text-align: left;
  padding-bottom: 2%;
  margin-bottom: 4%;
}

.coffee-img-container {
  width: 90%;
  height: 400px;
  background-image: url("images/coffee-img.jpg");
  background-position: right bottom;
  background-size: 622px 400px;
  overflow: hidden;
  background-repeat: no-repeat;
  margin: auto;
} */

/* .coffee-img {
  width: 100%;
}

.hlight-text-container {
  width: 90%;
  padding-top: 35px;
  margin: auto;
}

.hlight-tophalf {
  margin-bottom: 3%;
} */

/* .icon-img {
  width: 25px;
  margin-right: 20px;
} */

/* .hlight-det-mob {
  letter-spacing: 1.1px;
} */

/* .mul-stamp-logo-img {
  width: 200px;
  margin: -70% 0 20% 15%;
} */

/* .wd-120 {
  width: 120px;
}

.hlight-tophalf-inline-left {
  display: inline-block;
}

.hlight-tophalf-inline-right {
  display: inline-block;
}

.hlight-btmhalf-inline-left {
  display: inline-block;
  margin-bottom: 3%;
}

.hlight-btmhalf-inline-right {
  display: inline-block;
  margin-bottom: 3%;
} */



/* .location-text-section {
  width: 100%;
  background-image: url("images/canada-water-masterplan-img.jpg");
  background-position: center bottom;
  background-size: 100% auto;
  overflow: hidden;
  background-repeat: no-repeat;
  padding: 0;
}

.section-w-bg-image-fade {
  position: relative;
  width: 100%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(243, 241, 230, 1));
  background-position: center bottom;
  background-size: 100% auto;
  overflow: hidden;
  margin-top: -2px;
} */

/* .can-water-se16-text-container {

  text-align: left;
  width: calc(100vw*0.5);
  padding: 0;
  margin: 450px auto 50px auto;
} */

/* .loc-desc-box-bg-inside {
  position: relative;
  bottom: 40px;
  background-color: white;
  text-align: left;
  padding: 40px 100px 40px 60px;
} */

/* #cntr-scn-txt {
  display: none;
} */


/* .loc-desc-white-colour-border-spaced {
  position: absolute;
  width: 600px;

  bottom: 0px;
  right: 10px;
  padding: 2%;

} */



/* .transport-intro-section {
  color: #4782A6;
}

.transp-intro-text-container {
  text-align: left;
  width: 90%;
  padding-top: 65px;
  margin: auto;
}

.can-wat-tube-img-container {
  width: 90%;
  height: 400px;
  background-image: url("images/loc-img-can-water.jpg");
  background-position: center bottom;
  background-size: 622px 400px;
  overflow: hidden;
  background-repeat: no-repeat;
  margin: auto;
} */

/* .can-wat-tube-img {
  width: 100%;
} */

/* .transport-times-section {
  color: #4782A6;
  text-align: left;
  padding: 0;
} */

/* .transp-icon {
  width: 60px;
  margin-bottom: 2%;
} */



/* .transp-times-underline-div {
  width: 370px;
  margin-top: 10px;
}

.tr-ti-spacer-width {
  display: inline-block;
  width: 260px;
}

.tr-ti-align-right {
  display: inline-block;
} */

/* .transp-times {
  text-align: left;
  margin-left: 5%;
  margin-top: 4%;
} */



/* .location-map-section {
  width: 100%;
  background-color: #F3F1E6;
  color: #4782A6;
} */

/* .goog-map-embed-iframe {
  width: 100%;
  height: 600px;
  margin: 10px 0 0 0;
}


.registration-form-section {
  color: #4782A6;
  background-color: #F3F1E6;
  padding-top: 0;
}

.wandle-form-container-div {
  width: 90%;
  border-color: #4782A6;
  border-style: solid;
  border-width: 2px;
  margin: 10px auto 15px auto;
  padding: 50px 50px 0 50px;
} */

/* .mul-form-iframe {

  width: 100%;
  height: 1250px;
  margin-top: 50px;
} */


/* .form-disclaimer {
  font-size: 0.8rem;
  text-align: left;
  padding: 0 10% 0 10%;
} */

/* .wandle-text-section {
  width: 100%;
  background-image: url("images/couple-in-new-home-web.png");
  background-position: right top;
  background-size: 2110px 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  padding-top: 0;
  padding-bottom: 0;
} */

/* .abt-wandle-container-div {
  background-image: url("images/couple-in-new-home-web.jpg");
} */

/* .abt-wandle-transp-bg-color {
  width: 100%;
  background-image: none;

} */

/* .wandle-logo-abt {
  width: 250px;
  margin: 0 0 50px 0;

} */

/* .abt-wandle-body-div {
  color: #F3F1E6;
  padding: 70px 100px 0 100px;

}

.wandle-tag-abt {
  font-size: 2.6rem;
} */

/* .wandle-body-abt {
  text-align: left;
  font-size: 0.8rem;
  margin-top: 3%;
} */

/* .contact-section {

} */

.contact-headings {
  text-align: center;
  width: 100%;
}

.foot-section {
  text-align: center;
  width: 100%;
  background-color: #FDFAF6;
  padding: 20px 0 20px 0;
}

/* .footer {
  width: 100%;
  padding: 0 15% 0 15%;
} */

/* .wandle-logo-foot {
  width: 130px;
  margin-bottom: 3%;
} */

/* .wandle-disclaimer {
  font-size: 0.5rem;
  margin-bottom: 2%;
} */

/* .YCD-Tag {
  font-size: 0.7rem;
} */

@media only screen and (max-width: 1500px) {
  .my-width-control {
    width: 1400px;
    padding-left: 2%;
    padding-right: 2%;
  }

  .main-landing {
    width: 100%;
    height: 630px;
    background-size: 1500px auto;

  }



}

@media only screen and (max-width: 1400px) {
  .my-width-control {
    width: 1200px;
    padding-left: 2%;
    padding-right: 2%;
  }

}

/* extra 1200 to 1024?? */

@media only screen and (max-width: 1200px) {
/* @media only screen and (max-width: 1024px) { */
  .my-width-control {
    width: 960px;
    padding-left: 2%;
    padding-right: 2%;
  }

}

/* note, used 960 before */
@media only screen and (max-width: 992px) {
/* @media only screen and (max-width: 800px) { */

    .my-width-control {
    /* 100%?? */
    width: 800px;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .main-landing {
    width: 100%;
    height: 630px;
    background-size: 1125px auto;

  }
  /* #half-scn-txt {
    display: none;
  }

  #cntr-scn-txt {
    display: initial;
  } */

  /* .can-water-se16-text-container-mob {
    width: 100%;
    padding: 0;
    margin: 450px auto 50px auto;
  } */

  .landing-intro-box {
    width: 500px;
    max-width: 90%;
    text-align: center;
    right: calc(50vw - 250px);
    margin: auto;
  }

}

/* @media only screen and (max-width: 800px) {
  .my-width-control {
    width: 590px;
    padding-left: 2%;
    padding-right: 2%;
  }
} */


@media only screen and (max-width: 580px) {

  body {
    text-align: left;
  }

  p {
    font-size: 1rem;
  }

  .my-width-control {
   width: 100%;
   padding-left: 6%;
   padding-right: 6%;
 }

 .list-dot {
   height: 6px;
   width: 6px;
   margin-bottom: 2px;
 }

  .main-landing {
    height: 620px;
    background-image: url("images/asb-landing-img-mob-1125px.jpg");
    background-size: 580px auto;
    margin-top: -150px;
  }
  /*
  .landing-page-section {
    height: 620px;
    background-image: url("images/asb-landing-img-mob-1125px.jpg");
    background-size: 580px auto;
    margin-top: -180px;
  } */

  .p-big-italic-heading {
    /* font-family: 'Libre Baskerville', serif;
    font-style: italic; */
    font-size: 1.8rem;
  }

  /* .logo-img-landing {
    width: 100%;
    max-width: 220px;
    margin-top: 20%;
  } */

  .p1-intro {
    font-size: 2.3rem;
  }

  .landing-intro-box {
    width: 100%;
    max-width: 100%;
    padding: 40px 25px 40px 25px;
    text-align: left;
    right: 0;
    margin: auto;
  }

  .my-indent-one {
    margin-left: 0;
  }

  .focus-text-box {
    border-radius: 0;
    padding: 10px 25px 10px 25px;
  }

  .contact-headings {
    text-align: left;
  }

  .footer {
    padding: 0 35px 0 35px;
  }
}

@media only screen and (max-width: 450px) {



  /* .landing-page-section {
    height: 600px;
    background-size: 450px auto;
    margin-top: -160px;
    background-repeat: no-repeat;
  } */
}

@media only screen and (max-width: 400px) {

}
