body {
  text-align: justify;
  color: #26577C;
  background-color: #FDFAF6;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  overflow-x: hidden;

}

section {
  padding: 70px 0 70px 0;

}

h1 {
  /* font-family: 'Big Shoulders Stencil Display', cursive; */
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
}

p {
  font-size: 1.2rem;
}

/* form {
  text-align: left;
} */

.my-bg-dark {
  background-color: #26577C;
}

.my-bg-light {
  background-color: #FDFAF6;
}

.my-bg-accent {
  background-color: #ED7D31;
}

.bg-white {
  background-color: white;
}

.txt-dark {
  color: #26577C;
}

.txt-light {
  color: #FDFAF6;
}

.txt-color {
  color: #ED7D31;
}

.txt-accent {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  color: #ED7D31;
  font-weight: bold;
}

.my-indent-one {
  margin-left: 25px;
}

.list-dot {
 height: 10px;
 width: 10px;
 background-color: #ED7D31;
 border-radius: 50%;
 display: inline-block;
 margin-right: 7px;
}

/* --------------------- Animations -------------------------*/

.hidden-trigger-one {
  position: absolute;
  width: 1px;
  height: 1px;
  bottom: calc(1vh - 100px);
  /* background-color: red; */
  z-index: 11;
}

.hidden-trigger-two {
  position: absolute;
  width: 1px;
  height: 1px;
  bottom: calc(1vh - 50px);
  /* background-color: blue; */
  z-index: 11;
}

.anim-land {
  /* font-size: 3rem;
  color: red;
  width: 300px; */
  opacity: 0;
  transform: translateX(40%);
  transition: all 0.7s ease-out;
}

.active-land {
  /* color: blue; */
  opacity: 1;
  transform: translateX(0);
}

.mob-anim-land {
  /* font-size: 3rem;
  color: red; */
  width: 100%;
  opacity: 0;
  transform: translateX(40%);
  transition: all 0.7s ease-out;
}

.mob-active-land {
  opacity: 1;
  transform: translateX(0);
}

.anim-one {
  /* font-size: 3rem;
  color: red; */
  width: 100%;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.7s ease-out;
}

.active-one {
  opacity: 1;
  transform: translateY(0);
}

.anim-two {
  /* font-size: 3rem;
  color: red;
  width: 300px; */
  opacity: 0;
  transform: translateX(50%);
  transition: all 0.7s linear;
}

.active-two {
  /* color: blue; */
  opacity: 1;
  transform: translateX(0);
}

.anim-three {
  /* font-size: 3rem;
  color: red; */
  width: 100%;
  opacity: 0;
  transform: translateY(150%);
  transition: all 0.6s linear;
}

.active-three {
  opacity: 1;
  transform: translateY(0);
}

/* ----------------------------------------------------------*/

.my-heading-one {
  font-size: 2rem;
  font-weight: bold;
}

.my-para-control {
  width: 90%;
  margin: auto;
}

.my-width-control {
  width: 1400px;
  padding-left: 2%;
  padding-right: 2%;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;

}

.extra-section-control {
  padding: 0 7% 0 7%;
}

.focus-text-box {
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
}

.deco-img-section {
  /* position: relative; */
  width: 100%;
  height: 500px;
  padding: 0;
  overflow: hidden;
}

.deco-img-boundary {
  width: 100%;
  overflow: hidden;
}

.deco-img-div-holder-1 {
  width: 100%;
  height: 400px;
  background-image: url("images/corp-hotel-img-1.jpg");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.deco-img-div-holder-2 {
  width: 100%;
  height: 500px;
  background-image: url("images/lux-villa-img-1.jpeg");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.deco-img {
  transition: all 1s ease-out;
  transform: scale(1);
}

.active-img {
  transform: scale(1.1);
}

#mob-photo-1 {
  display: none;
}

#mob-photo-2 {
  display: none;
}

.p-small-heading {
  /* color: #F3F1E6; */
  letter-spacing: 2px;
  font-weight: bold;
}

.p-big-italic-heading {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 2.8rem;
  letter-spacing: -1px;
}

.my-bold {
  font-weight: bold;
}

.my-ital {
  font-style: italic;
}

/* section {
  width: 100%;
} */
.banner {
  text-align: center;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  padding: 0 0 20px 0;
  z-index: 4;
}

.wand-sticky-top-bar {
  position: relative;
  /* text-align: left; */
  width: 100%;
  height: 110px;
  /* background-image: linear-gradient(to top, rgba(71, 130, 166, 0.8), rgba(71, 130, 166, 0.8)); */
  background-image: linear-gradient(to top, rgba(38, 87, 124, 0.9), rgba(38, 87, 124, 0.9));
  /* background-color: #1f4468;
  opacity: 0.6; */
  transition: all 0.1s linear;
}

.top-bar-anim {
  height: 60px;
  background-image: linear-gradient(to top, rgba(38, 87, 124, 1), rgba(38, 87, 124, 1));
}

.title-div {
  position: absolute;
  display: inline-block;
  /* width: 600px; */
  width: 100%;
  color: #FDFAF6;
  /* background-color: #1f4468; */
  /* border-color: white;
  border-style: solid;
  border-width: 2px; */
  left: 0;
  /* margin: 20px 0 0 0; */
  /* padding: 0 0 0 0; */
  /* z-index: 5; */
  opacity: initial;
}

/* .title-h1 {
  font-size: 1.4rem;
} */

#mob-view-landing-text-box {
  display: none;
}

.logo-img-landing {
  /* margin-top: 15px; */
  transform: translateY(80%);
  transition: all 0.3s ease-out;
}

.logo-anim {
  transform: scale(0.7,0.7) translateY(40%);
}

.main-landing {
  position: relative;
  width: 100%;
  height: 630px;
  background-image: url("images/asb-landing-img-main-1400px.jpg");
  background-position: center top;
  background-size: 100% auto;
  padding: 0;
  margin-top: -130px;
  overflow: hidden;
}

.landing-intro-box {
  position: absolute;
  width: 50%;
  /* height: 200px; */
  background-color: white;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 40px 100px 40px 60px;
}

.mob-view-landing-section {
  padding: 0px;
}


.true-icon-row {
  margin: 50px 0 50px 0;
}

.lg-icon-row {
  /* width: 100%; */
text-align: center;
}

.lg-icon-wrapper {
  display: inline-block;
  /* text-align: center; */
  vertical-align: bottom;
  width: 30%;
  max-width: 300px;
  margin: 5px 25px 5px 25px;
}

.icon-text-wrapper {
  display: inline-block;
  /* text-align: center; */
  vertical-align: top;
  width: 30%;
  max-width: 300px;
  margin: 5px 25px 5px 25px;
}

.lg-icon-img-div {
  margin-bottom: 10px;
}

.hotel-icon-img {
  width: 150px;
}

.apart-icon-img {
  width: 100px;
}

.contact-headings {
  text-align: center;
  width: 100%;
}

.foot-section {
  text-align: center;
  color: white;
  width: 100%;
  background-color: #26577C;
  padding: 20px 0 20px 0;
}

.footer-text {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 0 10% 0 10%;
  font-size: 0.8rem;
}

@media only screen and (max-width: 1500px) {
  .my-width-control {
    width: 1400px;
    padding-left: 2%;
    padding-right: 2%;
  }

  .main-landing {
    width: 100%;
    height: 630px;
    background-size: 1500px auto;

  }



}

@media only screen and (max-width: 1400px) {
  .my-width-control {
    width: 1200px;
    padding-left: 2%;
    padding-right: 2%;
  }

}

/* extra 1200 to 1024?? */

@media only screen and (max-width: 1200px) {
/* @media only screen and (max-width: 1024px) { */
  .my-width-control {
    width: 960px;
    padding-left: 2%;
    padding-right: 2%;
  }

}

/* note, used 960 before */
@media only screen and (max-width: 992px) {
/* @media only screen and (max-width: 800px) { */

    .my-width-control {
    /* 100%?? */
    width: 800px;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .main-landing {
    width: 100%;
    height: 630px;
    background-size: 1125px auto;

  }

  #desktop-photo-1 {
    display: none;
  }

  #desktop-photo-2 {
    display: none;
  }

  #mob-photo-1 {
    display: initial;
  }

  #mob-photo-2 {
    display: initial;
  }

  .deco-img-section {
    height: 600px;
  }

  .mob-deco-img-boundary {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .deco-img-div-holder-2 {
    height: 600px;
    background-position: center center;
    background-size: cover;
  }

  .deco-img-div-holder-1 {
    height: 500px;
    background-size: cover;
  }
  /* #half-scn-txt {
    display: none;
  }

  #cntr-scn-txt {
    display: initial;
  } */

  /* .can-water-se16-text-container-mob {
    width: 100%;
    padding: 0;
    margin: 450px auto 50px auto;
  } */

  .landing-intro-box {
    width: 500px;
    max-width: 90%;
    text-align: center;
    right: calc(49.25vw - 250px);
    margin: auto;
    padding: 40px 60px 40px 60px;

  }

}

/* @media only screen and (max-width: 800px) {
  .my-width-control {
    width: 590px;
    padding-left: 2%;
    padding-right: 2%;
  }
} */


@media only screen and (max-width: 580px) {

  body {
    text-align: left;
  }

  p {
    font-size: 1rem;
  }

  .my-width-control {
   width: 100%;
   padding-left: 6%;
   padding-right: 6%;
 }

 .list-dot {
   height: 6px;
   width: 6px;
   margin-bottom: 2px;
 }

  .main-landing {
    height: 700px;
    background-image: url("images/asb-landing-img-mob-1125px.jpg");
    background-size: 580px auto;
    /* background-position: bottom; */
    margin-top: -300px;
  }

  .deco-img-section {
    height: 400px;
  }

  .deco-img-div-holder-2 {
    height: 400px;
    background-position: center center;
    background-size: cover;
  }

  .deco-img-div-holder-1 {
    height: 400px;
    background-size: cover;
    background-position: center bottom;
  }
  /*
  .landing-page-section {
    height: 620px;
    background-image: url("images/asb-landing-img-mob-1125px.jpg");
    background-size: 580px auto;
    margin-top: -180px;
  } */

  .p-big-italic-heading {
    /* font-family: 'Libre Baskerville', serif;
    font-style: italic; */
    font-size: 1.8rem;
  }

  /* .logo-img-landing {
    width: 100%;
    max-width: 220px;
    margin-top: 20%;
  } */

  .p1-intro {
    font-size: 2.3rem;
  }

  #landscape-view-landing-text-box {
    display: none;
  }

  #mob-view-landing-text-box {
    display: initial;
    height: auto;
  }

  .mob-view-landing-section {
    padding: 70px 0 70px 0;
  }

  .landing-intro-box {
    width: 100%;
    max-width: 100%;
    padding: 40px 25px 40px 25px;
    text-align: left;
    right: 0;
    margin: auto;
  }

  .my-indent-one {
    margin-left: 0;
    margin-top: 50px;
  }

  .focus-text-box {
    border-radius: 0;
    padding: 10px 25px 10px 25px;
  }

  .hotel-icon-img {
    width: 100px;
  }

  .apart-icon-img {
    width: 70px;
  }

  .lg-icon-text {
    font-size: 0.8rem;
  }

  .contact-headings {
    text-align: left;
  }

  .footer {
    padding: 0 35px 0 35px;
  }
}

@media only screen and (max-width: 450px) {



  /* .landing-page-section {
    height: 600px;
    background-size: 450px auto;
    margin-top: -160px;
    background-repeat: no-repeat;
  } */
}

@media only screen and (max-width: 400px) {

}
